:root {
  --primary-gradient-color: #4D3E9F;
  --second-gradient-color: #441919;
  --third-gradient-color: #331313;
  --first-logo-color: #4D3E9F;
  --second-logo-color: #1C1639;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  min-height: 100vh;
  background: linear-gradient(180deg,
      var(--primary-gradient-color) 0%,
      var(--second-gradient-color) 49%,
      var(--third-gradient-color) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

/*HEADER*/

.app-header {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.app-logo {
  width: clamp(200px, 32vw, 240px);
}

/* Le SVG occupe toute la boîte + drop shadow */
.app-logo__svg {
  width: 100%;
  height: auto;
  display: block;

}

/* Les paths utilisent le gradient */
.app-logo__path {
  fill: url(#logoGradient);
  filter: drop-shadow(0 14px 28px rgba(0, 0, 0, 0.55));
}


/*MAIN*/
.app-main {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.search-section {
  padding-inline: 1.5rem;
}

.search-input-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem;

  padding: 0.55rem 0.75rem;
  border-radius: 999px;

  background: radial-gradient(circle at top left, #ffffff, #f5f5f8);
  border: 1px solid rgba(7, 6, 6, 0.712);

  box-shadow:
    0 10px 24px rgba(0, 0, 0, 0.596);
}

.search-input {
  flex: 1;
  border: none;
  border-radius: 30px 0px 0 30px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: transparent;

  font-size: 0.9rem;
  color: #333;
  outline: none;
}

.search-input::placeholder {
  color: #9a9a9f;
}

.search-button {
  border-radius: 0 30px 30px 0;
  background-color: #fff;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}

.search-logo-path {
  fill: linear-gradient(180deg, #4D3E9F 0%, #1C1639 50%);
}



/*FOOTER*/
.app-footer {
  flex: 0 0 auto;
  height: clamp(40px, 5vw, 60px);
  width: 100%;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(2px, 2vw, 10px);
}

.footer-icon-image img {
  width: clamp(30px, 5vw, 50px);
  height: clamp(30px, 5vw, 50px);
  border: none;
  padding: 0;
  cursor: pointer;
  flex: 1 0 auto;
}

.footer-icon-button {
  border: none;
  background: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer-icon-img {
  padding: 18%;
  /* pour laisser du blanc autour */
}

.footer-icon-button,
.footer-icon-img {
  width: clamp(34px, 6vw, 46px);
  aspect-ratio: 1 / 1;
  background-color: transparent;
  display: inline-block;
}

.footer-icon--share {
  width: 100%;
  height: 100%;
  -webkit-mask: url('../img/share-svgrepo-com.svg') no-repeat center / 90%;
  mask: url('../img/share-svgrepo-com.svg') no-repeat center / 90%;
  background-color: #fff;

}


a.footer-icon-mention {
  color: white;
}




/*Accesibilité*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
